#reg_name,#reg_email,#reg_mob {
margin-left:20px;
}
#regi {
padding:7px;
}
body {
background: #8e8e8e url(images/back.png) top center repeat-x; 
margin: 0;
padding: 0;
font: normal 8pt/13pt verdana, arial,sans-serif;
color:#FFFFFF;
}
#wrapper {
margin: 0 auto;
width: 800px;
padding: 0;
text-align: left;
}
#wrap ,#main{
margin:0 auto;
width:780px;
overflow:hidden;
}

#top {
background: url(images/bgtop.png) top center no-repeat; 
width: 800px;
height: 78px;
}
#bottom {
background: url(images/bgbottom.png) bottom center no-repeat; 
width: 800px;
height: 50px;
}

#header {
background: url(images/header.png) top center no-repeat; 
width: 746px;
height: 106px;
margin: 0px 0px 10px 0px;
padding: 60px 0px 0px 20px;
color: white;
font-size: 50px;
text-align: ;
}
#content {
background: url(images/bgmiddle.png) center repeat-y; 
width: 766px;

padding: 0px 17px 0px 17px;
}
#stuff {
background:  url(images/texttop.png) top left repeat;
width: 760px;
padding-top: 55px;
border: 2px navy;
}
.form-item,.the_events,.mem,#container,#reg_event
{
width:524px;
}
#menu {
width: 200px;
height: 100%;
margin-left: 10px;
float: left;
text-align: left;
border:medium none;
}

#menu li a {
height: 37px;
voice-family: "\"}\""; 
voice-family: inherit;
height: 29px;
text-decoration: none;
text-align: left;
border:medium none;
color:#F68E06;
font-weight:bold;
}	
	
#menu li a:link, #menu li a:visited {
color: navy;
display: block;
background:  url(images/off.png) top center no-repeat;
padding: 8px 0 0 10px;
height: 29px;
text-align: left;
border:medium none;
color:#F68E06;
font-weight:bold;
}
	
#menu li a:hover{
color: blue;
background:  url(images/on.png) top center no-repeat;
padding: 8px 0 0 10px;
height: 29px;
text-align: left;
border:medium none;
color:#FF0000;
font-weight:bold;
}	
ul.main-menu{ width:720px; margin:50px auto 0; list-style:none; overflow:hidden; }

ul.main-menu li{ float:left;background:none repeat scroll 0 0 MediumTurquoise;border:3px outset blue;position:relative; margin-right:10px; }
ul.main-menu li:hover,ul.main-menu li.selected{ color:#00F; cursor:pointer; }



#events:after, #container:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
#events, #container
{
	display: inline-block;
}
#events
{
/*\*/

	display: block;
/**/
	_height: 1px;
}
#event_item
{
	width: 113px;
	margin-right: 17px;
}
.item .mobile
{
border-left:1px solid;float: left;position:relative;left: 0px;top: 0px;width:72px;display: block;
}
.item .email
{
	display: block;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 229px;
	border-left: 1px solid #DBDBDB;
}
.item .college
{
	border-left:1px solid;float: left;position:relative;left: 0px;top: 0px;width:250px;display: block;
	}
.item .id
{
	border-right:1px solid;float: left;position:relative;left: 0px;top: 0px;padding-left: 0px;width:45px;display: block;
}
.item .name
{
	border-left:1px solid;float: left;position:relative;left: 0px;top: 0px;padding-left: 0px;width:230px;display: block;
}
.item
{
	overflow: hidden;
	text-align: center;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #F7F7F7;
}
UL
{
	list-style: none;
	display: block;
	margin:0;
	padding:0;
}
.event_list
{
}
.event_list
{
	margin: 0 0px 0 7px;
	font-size:12px;
}
.event_list .item
{
	clear: both;
	padding: 0;
}
#list_events
{
	
	padding-bottom: 18px;
}
#event_view
{
	padding: 5px 0px 12px 58px;
	float:left;
}
#container
{
	
	-moz-border-radius: 5px;
	
	
}
li 
{
padding-bottom:3px;
}
#ot
{
padding-left:70px;
padding-top:5px;
}
#container
{
}
#button,#button_grp,#event_sub,#grp_sub,#spot_sub,#chck,a,#entry
{
	-moz-border-radius: 3px;
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	border-color: #CCCCCC #BBBBBB #A0A0A0;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	text-decoration:none;
	cursor: pointer;
	font: 12px arial, sans-serif;
	
	outline: medium none #000000;
	padding: 3px 8px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
.hosp {float: right; padding: 5px 48px 12px 58px; font-size: 14px; font-weight: bold;cursor:pointer;}
.hosp:hover { font-size:15px; }
#go {
padding-left:20px;
padding-right:20px;
}
